<div class="row">
    <div class="col-md-12">
        <h3>Posts Data - Declarative</h3>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Student</th>
                    <th>Student Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts$ | async">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.student }}</td>
                    <td>{{ post.studentName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>