<div class="row" *ngIf="errorMessageAction$ | async as errorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">{{ errorMessage }}</div>
    </div>
  </div>

<div class="row" *ngIf="post$ | async as post">
    <div class="col-md-12">
        <button class="btn btn-warning" (click)="onUpdatePost()">
          Update Post
        </button>
        <button class="btn btn-warning" (click)="onDeletePost(post)">
          Delete Post
        </button>
    
    
        <h3>Post Details</h3>
        <div class="card" >
            <div class="card-body">
                <div class="mb-2">
                    <label>Id:</label> {{ post.id }}
                </div>

                <div class="mb-2">
                    <label>Title:</label> {{ post.title }}
                </div>

                <div class="mb-2">
                    <label>Description:</label> {{ post.description }}
                </div>

                <div class="mb-2">
                    <label>Student Id:</label> {{ post.student }}
                </div>

            </div>
          </div>
    </div>

    <app-update-post *ngIf="showUpdatePost"></app-update-post>
</div>
