<div *ngIf="post$ | async">
    <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
      <div class="my-2">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="my-2">
        <label for="">Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
      <div class="my-2">
        <label for="">Category</label>
        <select class="form-select" formControlName="student">
          <option value="">Select Category</option>
          <option
            [value]="student.id"
            *ngFor="let student of students$ | async"
          >
            {{ student.name }}
          </option>
        </select>
      </div>
  
      <div class="my-2">
        <button type="submit" class="btn btn-warning">Update Post</button>
      </div>
    </form>
  </div>